<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <title>Admin</title>
  </head>
  <body class="bg-dark">
    <header>

      <nav class="navbar navbar-expand-lg " style="background-color: #008080;">
        <div class="container-fluid">
          <a
            class="navbar-brand text-dark ms-5 h1 fw-bold mb-0"
            href="#"
          >Admin Panel</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse ms-5" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item ">
                <a class="nav-link active text-dark" aria-current="page" href="#"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" href="#"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" href="#"></a>
              </li>

            </ul>
          </div>
          
          <form role="search" class="d-flex" action="/search" method="get">
            <input class="form-control me-2" type="text" name="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-dark" type="submit">Search</button>
          </form>

          <div class=" mt-2 pt-1 mb-3">
            <button class="btn btn-dark btn-md btn-block" type="button">
              <a
                class="text-white"
                style="text-decoration: none;"
                href="/create"
              >Add User
              </a></button>
          </div>
          <div class=" mt-2 pt-1 mb-3">
            <button class="btn btn-dark btn-md btn-block" type="button">
              <a
                class="text-white"
                style="text-decoration: none;"
                href="/logout"
              >Logout
              </a></button>
          </div>
          <div class=" mt-2 pt-1 mb-3">
            <button class="btn btn-dark btn-md btn-block" type="button">
              <a
                class="text-white"
                style="text-decoration: none;"
                href="/home"
              >Home
              </a></button>
          </div>
          
        </div>
      </nav>

    </header>
    <section>
   <table class="table table-success table-striped">
  <thead>
    <tr>
      {{!-- <th scope="col">Id.</th> --}}
      <th scope="col">UserName</th>
      <th scope="col">Email</th>
      {{!-- <th scope="col">Password</th> --}}
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr>
      {{!-- <th scope="row">{{_id}}</th> --}}
      <td>{{name}}</td>
      <td>{{email}}</td>
      {{!-- <td>{{password}}</td> --}}
      <td>
        <a href="/update/{{_id}}">Edit</a>
        <a href="/delete/{{_id}}">Delete</a>
      </td>
    </tr>  
    {{/each}}  
  </tbody>
</table>
</section>
    
    <script type="text/javascript">
      function preventBack() { window.history.forward(); }
      setTimeout("preventBack()", 0); window.onunload = function () { null };
    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    
  </body>
</html>